/* TagSelection.css */

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    text-align: center; /* Center-align text */
    width: 100%; /* Full width */
    z-index: 999; /* Set z-index to ensure it's above other content */
    top: 0; /* Aligns the toolbar to the top of the viewport */
}

.toolbar-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Add padding around the button text */
    border: 2px solid transparent; /* Add a transparent border so hovering doesn't change toolbar size */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color change */
}

.toolbar-button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
    color: #fff; /* White text color on hover */
    border: 2px solid #fff; /* Add a white border on hover */
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.tag-selection-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    overflow-y: auto; /* Make the column scrollable vertically */
    border-right: 1px solid #363636; /* Add a border to the right of the column */
    height: 100%;
    background-color: #ffffff;
}

.tag-groups-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  /*  Changed to space-around for better alignment */
    
    /* margin-bottom: 20px; */
}

.tag-group {
    border: 1px solid #000000;
    padding: 10px; 
    margin: 5px; 
    background-color: #c0dfff;
}

.download-button {
    background-color: #007bff; /* Changed button color */
    color: #fff; /* Changed button text color */
    border: 1px solid transparent; /* Add a transparent border */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Added transition effect */
    align-self: center; /* Center-align button */
    box-sizing: border-box;
}

.download-button:hover {
    background-color: #0056b3; /* Changed button color on hover */
}

.download-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #bbbbbb;
    width: 100%;
    height: 50px;
    bottom: 0;
    padding: 10px;
    position: static;
}
.folder-name-input{
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 4px;
    width: 9%;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    overflow-y: auto;
    background: #eaeaea;
    border: 1px solid #ccc; 
    height: 100%;
    align-items: flex-start;
}
  
.thumbnail-container img {
    margin: 10px 10px; 
    max-width: 200px; 
    height: auto;
    object-fit: contain;
}


.clear-button {
    margin-left: 20px; /* Add margin to separate from the upload button */
}
.upload-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* adjust as needed */
    margin-top: -10%;
    position: sticky;
  }

.upload-logo{
    width: 500px; /* adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* center the logo */
}

.upload-box {
    border: 2px dashed #777777;
    padding: 40px;
    text-align: center;
    color: #777777;
    background-color: #eeeeee;
    cursor: pointer;
}

.top-logo{
    width: 100px; /* adjust as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* center the logo */
}

.logo-container {
    margin-right: 50px; /* Adjust margin as needed */
}

.logo {
  height: 30px; /* Adjust height as needed */
  width: auto; /* Maintain aspect ratio */
}

.toggle-button {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Add padding around the button text */
    border: 2px solid transparent; /* Add a transparent border so hovering doesn't change toolbar size */
    border-radius: 5px; /* Add rounded corners */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .toggle-button.active {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
  }
  
  .toggle-button:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
    color: #fff; /* White text color on hover */
    border: 2px solid #fff;
  }

  .toggle-button.active:hover {
    background-color: #077c22;
    color: white;
    border-radius: 5px;
  }
  
  .modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */
  }
  
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    height: 90%;
  }